@charset "UTF-8";

/*--------------------------------Éléments pour toute pages---------------------------------------*/
html, body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, .material-icons{
    color: tomato;
    margin: 0px 0px;
}

/*------------------------------------ Éléments de l'entête --------------------------------------*/
header{
    width: 80%;
    background-color: rgb(41, 41, 41);
    padding: 0px 10%;
    background-image: url("../images/selling_your_books-1150x4001.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

header h1{
    font-size: 0;
}

/*-------------------------------------- Éléments du menu ------------------------------------------*/
nav{
    width: 80%;
    padding: 0px 10%;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(41, 41, 41);
    z-index: 10;
}

.lien-logo{
    width: 150px;
    height: 138px;
    background-image: url("../images/logo.png");
    display: block;
    font-size: 0;
}

.barre-recherche{
    position: absolute;
    bottom: 10px;
    right: 10%;
}

.barre-recherche input[type=text]{
    padding: 6px;
    margin-right: 15px;
    border: 1px solid rgb(41, 41, 41);
    font-size: 19px;
    border-radius: 5px;
}

.barre-recherche button[type=submit]{
    float: right;
    border: 0;
    background-color: whitesmoke;
    cursor: pointer;
}

.barre-recherche .material-icons{
    font-size: 36px;
    float: right;
}

.autocomplete {
    position: relative;
}

.menu{
    margin-top: 138px;
    background-color: tomato;
    width: 80%;
    padding: 0 10%;
    overflow: auto;
    border-bottom: 1px solid rgb(41, 41, 41);
}

.menu .material-icons{
    color: whitesmoke;
}

.menu a {
    float: left;
    padding: 12px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    width: 15%;
    text-align: center;
}

.menu a:hover {
    background-color: rgb(247, 148, 131);
}

.menu .icone{
    font-size: 16px;
    padding: 10px;
    float: right;
    width: 5%;
}

/*----------------------------------------Éléments de la division panier------------------------------------------*/
.divisionPanier{
    position: absolute;
    width: 400px;
    height: auto;
    background-color: whitesmoke;
    border: solid 1px black;
    right: 10%;
    display: none;
}

/*------------------------------------------------ Éléments du corps ---------------------------------------------*/
/*-- Toutes les pages --*/
main{
    width: 80%;
    padding: 10px 10% 90px 10%;
}

main h1, main h2{
    margin: 10px 0;
    border-bottom: 1px solid rgba(41, 41, 41, 0.5);
}

/*-- page acceuil --*/
main .accueil{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
}

main .accueil div{
    width: 250px;
    margin: 10px;
    text-align: center;
}

.accueil ol{
    padding-inline-start: 0px;
    display: contents;
}

.accueil ol li{
    list-style-type: none;

}

/*-- Page produit --*/
.liens-produits{
    text-decoration: none;
}

.liens-produits:hover{
    background-color:  rgba(41, 41, 41, 0.15);
}

.liens-produits:visited{
    color: black;
}

.table-produit{
    display: inline-block;
    margin-left: 20px;
}

.table-produit th{
    font-weight: bold;
    text-align: left;
}

.lien-admin:hover{
    background-color: rgba(41, 41, 41, 0.15);
}

.lien-admin:visited{
    color: tomato;
}

.icone-vote{
    border: none;
    cursor: pointer;
}

.icone-vote:hover{
    background-color: rgba(41, 41, 41, 0.15);
}

td form{
    display: flex;
    align-items: center;
}

/*-- Erreur 403 et 404 --*/
.err{
    display: grid;
    justify-content: center;
    text-align: center;
}

/*-- Page panier --*/
.achats{
    display: flex;
    flex-direction: column;
}

.checkout{
    text-align: center;
    margin: 10px;
}

.checkout button{
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    background-color: tomato;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 5px;
}

.checkout button:hover{
    background-color: rgb(247, 148, 131);
}

.achats section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dotted rgba(41, 41, 41, 0.5);
    margin: 5px 0;
}

/*-- Page mes-achats --*/
.achats .lien-achats{
    text-decoration: none;
    color: black;
}

.achats .lien-achats:hover{
    background-color: rgba(41, 41, 41, 0.25);
}

.achats .lien-achats:visited{
    color: black;
}

/*-- Page recherche --*/
.recherche .barre-recherche{
    position: inherit;
    margin: auto;
    border: none;
}

.disable {
    pointer-events: none !important;
    cursor: default;
    color:Gray;
}

/*-- Page admin --*/


.envoie-admin {
    display: flex;
    align-items: center;
    font-size: larger;
    padding: 5px;
    cursor: pointer;
}

label{
    width: 150px;
    display: inline-block;
    line-height: 3em;
    font-weight: bold;
}

.erreur{
    color: tomato;
    font-size: small;
    padding-left: 10px;
}

/*----------------------------------------------- Éléments du pied de page ---------------------------------------*/
footer{
    width: 80%;
    background-color: rgb(41, 41, 41);
    padding: 0px 10%;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer span{
    color: whitesmoke;
    display: inline-block;
    line-height: 2.5em;
}

footer .icone{
    font-size: 16px;
    padding-top: 5px;
    float: right;
    width: 75px;
    text-align: center;
}

footer .material-icons{
    font-size: 36px;
}

footer a:hover{
    background-color: blanchedalmond;
}

/*-------------------------------------------------- Élément du login ---------------------------------------------------*/

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
    
.form form {
    text-align: left;
    box-shadow: 1px 1px black;
    border-radius: 20px;
    background-color: whitesmoke;
    padding: 20px;
    border: solid 1px black;
}
    
.form input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
    
.form button {
    background-color: tomato;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.form h4{
    font-size: 24px;
    text-align: center;
}

.login-header{
    background-color: whitesmoke;
    color: tomato;
}

.login-header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lien a{
    color: tomato;
}

.error {
    color: red;
}


/*-------------------------------------------------- Responsive design ---------------------------------------------------*/
@media screen and (max-width: 600px) {
    /*-----------Container-----------------------*/
    header, nav, .menu, main, footer{
        width: 100%;
        padding: 0;
    }
    /*--------------------Menu-------------------*/
    .menu a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
        padding: 12px 0;
    }
    .menu .icone{
        float: left;
        width: 25%;
    }

    /*-----------En tete------------------------*/
    header{
        display: none;
    }

    /*--------------Corps---------------------*/
    main{
        padding-bottom: 35px;
    }

    main section{
        flex-direction: column;
    }
    main section div{
        width: 100%;
        margin: 10px 0;
    }
}
